<div class="top-container" >

  <div class="container">

    <nav>
      <h3> YogaYuq.</h3>
      <a href="/" >Home</a>
      <a href="/about" >About</a>
      <a href="/disciplines" >Disciplines</a>
      <a href="/stages" >News</a>
      <button type="button" class = "modal-btn button modal-trigger" id="light-green-button">Contact</button>
    </nav>

  </div>
</div>
