
<nav class="dark-navbar">
  <h3> YogaYuq.</h3>
  <a href="/" >Home</a>
  <a href="/about" >About</a>
  <a href="/disciplines" >Disciplines</a>
  <a href="/news" >News</a>
  <button class = "modal-btn button modal-trigger" id="light-green-button">Contact</button>
</nav>


<div class="container">

  <div class="card2">
    <h2>Le Sport C'est TROP bien !</h2>
    <div class="content">
      <%=image_tag('service-gym-presentation.jpg') %>
      <div class="description">
        <p>Faire du sport régulièrement permet la diminution de la masse grasse, oui, mais pas que ! Une pratique régulière vous procurera une sensation de bien être physique mais agira aussi sur votre moral et votre santé générale ! Pas le temps ni la motivation de faire du sport tous les jours ? 30 minutes de marche par jour, c’est une pratique sportive qui peut vous permettre de faire du sport tout en optimisant votre temps. Il y a toujours des solutions, et comme dit la belle soeur de mon arrière grand oncle du côté de ma mère "quand on veut, on peut !".</p>
      </div>
    </div>
  </div>

  <div class="card2">

    <h2>Nos Disciplines</h2>
    <div class="content">
      <%=image_tag('reiki.jpg') %>
      <div class="description">
        <h4>Le Reiki</h4>
        <p>Faire du sport régulièrement permet la diminution de la masse grasse, oui, mais pas que ! Une pratique régulière vous procurera une sensation de bien être physique mais agira aussi sur votre moral et votre santé générale ! Pas le temps ni la motivation de faire du sport tous les jours ? 30 minutes de marche par jour, c’est une pratique sportive qui peut vous permettre de faire du sport tout en optimisant votre temps. Il y a toujours des solutions, et comme dit la belle soeur de mon arrière grand oncle du côté de ma mère "quand on veut, on peut !".</p>
      </div>
    </div>

    <div class="content">
      <%=image_tag('do-in.jpg') %>
      <div class="description">
        <h4>Le Do-In</h4>
        <p>D’après le dictionnaire japonais, le dô-in, qui tire son origine de la médecine chinoise, est une méthode de santé (“de longue vie”) qui consiste à effectuer des techniques d’Amma (pressions et mobilisations : DÔ) sur soi-même tout en faisant des respirations profondes “pour faire entrer de l’air frais dans le corps” : IN.
        <br> En occident, le Do-In est un terme Japonais pour désigner un ensemble de travail corporel physique et mental, alliant postures, mouvements, étirements, auto-shiatsu, respiration et relaxation. Son équivalent chinois, ancêtre du Qi-Gong, le Dao Yin, est appelé Yoga Chinois.
        <br>Les exercices de Do-in visent donc à stimuler les grandes fonctions du corps : la respiration, la circulation, la digestion, le système nerveux et l’énergie. Il s’inscrit dans le domaine de la prévention et du bien-être-santé et est un excellent complément au Shiatsu.
        </p>
      </div>
    </div>

    <div class="content">
      <%=image_tag('gym.jpg') %>
      <div class="description">
        <h4>La Gym Bien-Être</h4>
        <p>La gym douce consiste à repenser la pratique du sport pour mettre en avant les besoins du corps. Une séance de gym douce va ainsi éviter d’agresser les articulations. C’est donc une pratique à intégrer à sa routine sportive hebdomadaire, notamment pour reposer sa musculature. Pour les seniors, c’est même un excellent moyen de maintenir une activité stimulante pour le cœur sans trop forcer.</p>
      </div>
    </div>


</div>
