<div class="top-container" >

  <div class="container">

    <nav>
      <h3> YogaYuq.</h3>
      <a href="/" >Home</a>
      <a href="/about" >About</a>
      <a href="/service" >Service</a>
      <a href="#" >Testimonial</a>
      <button class = "modal-btn button modal-trigger" id="light-green-button">Contact</button>
    </nav>

    <div class="banner">
      <h1>Taking Yoga Beyond The Limit Reach You New Potential</h1>
      <p>Yoga is actually an exercice of body and mind. The benefits of Yoga not only help the body become fresher and fitter, but also can control stress.</p>
      <a class = "button" href="#" id="light-green-button">Sign up </a>
      <a class = "button" href="#" id="clear-button">Watch a video</a>
    </div>

  </div>

</div>

<!-- Fenêtre modal à ouvrir  // en lien avec le bouton CONTACT-->
<div class="modal-container">
  <div class="overlay modal-trigger"></div>
  <div class="modal1">
    <button class="close-modal modal-trigger">X</button>
    <h1>Nous contacter</h1>

    <!-- ci-dessous on crée le formulaire de mise en relation -->
    <div class="form">
      <form action="/practice.html" method="POST">
        <label for="Nom" required>Nom</label>
        <input type="text" name="Nom" id="Nom">
        <br>
        <label for="Prénom" required>Prénom</label>
        <input type="text" name="Prénom" id="Prénom">
        <br>
        <label for="mail" required>E-Mail</label>
        <input type="text" name="E-Mail" id="E-Mail">
        <br>
        <label for="message" required>Message</label>
        <textarea id="message" name="message" rows="3" cols="40">écrivez votre message ici</textarea>
        <br>
        <section class="submission">
        <input type="submit" value="Envoyer">
        </section>
      </form>
    </div>

  </div>
</div>

<div class="contact">
  <i class="fa-brands fa-linkedin-in"></i>
  <a href="https://www.facebook.com/veronique.villaume.58"><i class="fa-brands fa-facebook-f"></i></a>
  <i class="fa-brands fa-twitter"></i>
</div>


<div class="container">

  <div class="title">
    <h2>Benefits You Get When Using Our Services</h2>
    <p>While we can customize your needs plan to suit your needs, most clients schedule regular class.</p>
  </div>

  <div class="benefits">
    <div class="card">
      <i class="fa-solid fa-people-group"></i>
      <h3>Taughts By Experts With 10 Years Of Experience</h3>
      <p>You will be taught by reliable instructors who have more than 10 yeats of experience in each field.</p>
      <a href="#">Learn More</a>
    </div>
    <div class="card">
      <i class="fa-solid fa-calendar-days"></i>
      <h3>Can Schedule As You Wish</h3>
      <p>You will be taught by reliable instructors who have more than 10 yeats of experience in each field.</p>
      <a href="#">Learn More</a>
    </div>
    <div class="card">
      <i class="fa-solid fa-spa"></i>
      <h3>Good Health And Body Condition</h3>
      <p>You will be taught by reliable instructors who have more than 10 yeats of experience in each field.</p>
      <a href="#">Learn More</a>
    </div>
  </div>

  <div class="bottom-page">
    <%=image_tag('gym-image.jpg') %>
    <div class="text">
      <h3>We Will Help You To Be Healthy Spiritually And Physically</h3>
      <p>We believe sunshine is one of humanity's most valuable, yet underutilised ressources. Not only can solar energy sustainably power hospitals</p>
      <a class="button" href="#" id="dark-green-button">Learn More</a>
    </div>

  </div>

</div>
