<div class="top-container" >

  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Connexion</a>
  <div class="dropdown-menu">
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    <div class="dropdown-divider"></div>
    <a href="/admin" >Accès administrateur</a>
  </div>

  <div class="container">

  </div>

    <nav>
      <h3> YogaYuq.</h3>
      <a href="/" >Home</a>
      <a href="/about" >About</a>
      <a href="/disciplines" >Disciplines</a>
      <a href="/stages" >News</a>
      <button type="button" class = "modal-btn button modal-trigger" id="light-green-button">Contact</button>
    </nav>

    <div class="banner">
      <h1>Taking Yoga Beyond The Limit Reach You New Potential</h1>
      <p>Yoga is actually an exercice of body and mind. The benefits of Yoga not only help the body become fresher and fitter, but also can control stress.</p>
      <a class = "button" href="#" id="light-green-button">Sign up </a>
      <a class = "button" href="#" id="clear-button">Watch a video</a>
    </div>

  </div>

</div>

<div class="contact">
  <i class="fa-brands fa-linkedin-in"></i>
  <a href="https://www.facebook.com/veronique.villaume.58"><i class="fa-brands fa-facebook-f"></i></a>
  <i class="fa-brands fa-twitter"></i>
</div>


<div class="container">

  <div class="title">
    <h2>Benefits You Get When Using Our Services</h2>
    <p>While we can customize your needs plan to suit your needs, most clients schedule regular class.</p>
  </div>

  <div class="benefits">
    <div class="card">
      <i class="fa-solid fa-people-group"></i>
      <h3>Un encadrement avec plus de 35 ans d'expérience</h3>
      <p>Vous serez suivis et encadrés par une personne pratiquant depuis plus de 35 ans.</p>
      <a href="/about">En Savoir plus</a>
    </div>
    <div class="card">
      <i class="fa-solid fa-calendar-days"></i>
      <h3>Des stages réguliers</h3>
      <p>L'organisation de stage régulier vous permettra de vous perfectionner dans le domaine de votre choix.</p>
      <a href="/news">En Savoir plus</a>
    </div>
    <div class="card">
      <i class="fa-solid fa-spa"></i>
      <h3>Le bien-être au coeur de l'enseignement</h3>
      <p>Pratiquante de gym douce, de do-in, de reiki et à l'écoute de ses élèves, Véronique place le bien-être et la sagesse au coeur de son enseignement.</p>
      <a href="/disciplines">En Savoir plus</a>
    </div>
  </div>

  <div class="bottom-page">
    <%=image_tag('gym-image.jpg') %>
    <div class="text">
      <h3>Vous serez accompagnés dans l'atteinte de l'équilibre corps et esprit</h3>
      <p>Le lien entre le corps et l'esprit est très important pour avoir une vie équilibrée et se sentir bien.</p>
      <br>
      <a class="button" href="/disciplines" id="dark-green-button">En Savoir Plus</a>
    </div>

  </div>

</div>
