.title {
  display: flex;
  margin-top: -8vh;
  margin-bottom: 2vh;
  align-items: center;


  h2 {
    width: 45%;
    font-family: initial;
    font-weight: bold;
  }

  p {
    width: 28%;
    margin-left: auto;
    font-weight: 500;
    font-size: 80%;
    color: #6d777cd4;
  }
}

.benefits {
  display: flex;
  justify-content: space-between;
}

.bottom-page {
  height: 30%;
  display: flex;
  margin-top: 7vh;
  align-items: center;
  justify-content: space-between;

  img {
    width: 47%;
    border-radius: 3px;

  }

  .text {
    width: 47%;

  }

  h3 {
    font-family: initial;
    font-weight: bold;
  }

  p {
    font-weight: 500;
    font-size: 80%;
    color: #6d777cd4;

  }
}
